<div class="container">
    <div class="card rounded shadow mt-3">
        <div class="card-body p-0">
            <img src="https://www.bhphotovideo.com/images/images2500x2500/google_ga01181_us_pixel_4_xl_64gb_1507482.jpg" alt="image not found" width=100%>
            <div class="row">
                <div class="col-7 p-3">
                    <div>
                        <span class="text-primary" style="font-weight: bold;">Model:</span>
                        <span>Pixel4a</span>
                    </div>
                    <div>
                        <span class="text-primary" style="font-weight: bold;">Brand:</span>
                        <span>Google</span>
                    </div>
                </div>
                <div class="col-5 p-4">
                    <button class="btn btn-info float-end" data-bs-target="#p1" data-bs-toggle="modal">Specs</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="p1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header justify-content-end">
                    <button class="btn btn-danger close" data-bs-dismiss="modal">X</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/71Ap5hKZoJL._AC_SL1500_.jpg" alt="image not found" width="100%">
                        </div>
                        <div class="col-6 d-flex flex-column align-items-center justify-content-center">
                            <div class="display-6">
                                <span class="text-primary" style="font-weight:600;">Brand:</span>
                                <span>Google</span>
                            </div>
                            <div class="display-6">
                                <span class="text-primary" style="font-weight: 600;">Model:</span>
                                <span>Pixel4a</span>
                            </div>
                            <div class="display-6">
                                <span class="text-primary" style="font-weight: 600;">Camera:</span>
                                <span>12MP,8MP</span>
                            </div>
                            <div class="display-6">
                                <span class="text-primary" style="font-weight: 600;">Cost:</span>
                                <span><span>&#8377;</span> 31,000</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>