<h2 class="text-center display-3" style="color: rgb(167, 243, 167);">Login</h2>

<div class="row">
    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto">
        <div class="mb-3">
            <label for="email" class="form-label">Email/Username</label>
            <input type="email text" class="form-control" id="formGroupExampleInput" placeholder="username/email">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Password</label>
            <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="password">
        </div>
    </div>
</div>
<button class="btn btn-success d-block mx-auto shadow-none">Login</button>