<ul class="nav nav-pills justify-content-evenly mt-3">
  <li class="nav-item">
    <a class="nav-link border border-dark rounded-0" routerLink='places' routerLinkActive='active'>Places</a>
  </li>
  <li class="nav-item">
    <a class="nav-link border border-dark rounded-0" routerLink='food' routerLinkActive='active'>Cuisine</a>
  </li>
  <li class="nav-item">
    <a class="nav-link border border-dark rounded-0" routerLink="strengths" routerLinkActive='active'>Strengths</a>
  </li>
</ul>
<div class="container">
  <router-outlet></router-outlet>
</div>




