/* You can add global styles to this file, and also import other style files */
body{
    background-image:url("https://cdn.wallpapersafari.com/53/40/e7AvgS.jpg");
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.form-label{
    color: honeydew;
}